<div class="demo-screen">
    <div class="container container-column container--vertical-center container--space-around">
        <div class="demo--font" ng-controller="voteResultCtrl as Result">
            <div class="container container-column window container container-column container--vertical-center container--space-around" ng-init="Result.initStats(step.poll)">
                <div>
                    <div class="ui-text--center font--huge margin-vertical--big">Que equipa vai gahnar a liga nos 17/18?</div>
                    <div style="height: 30px"></div>
                    <lisbon-poll data-options="step.poll.data.options" data-stats="Result.stats"
                                 class="poll_result container--vertical-center padding-horizontal--small"></lisbon-poll>
                </div>
                <div class="font--huge">
                    <span>benfica.screen4fans.com</span>
                </div>
                <div>
                    <img src="/img/lisbon/s4f-logo.png"/>
                </div>
            </div>
        </div>
    </div>
</div>