@poll: #100d67;

.poll {
  transition: height, width 2s;
  background-color: @poll;
  width: 50px;
  color: white;
  font-size: 20px;
}

.vote {
  position: relative;
  button {
    position: absolute;
  }
}

.screen--tychy {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0ac2d2;
  font-family: 'Oswald';
  width: 256px;
  height: 144px;
  overflow: hidden;

  img {
    height: 500px;
    width: 391px;
  }
}

.tychy__players {
  width: 500px;overflow: hidden;

  [roller] {
    -webkit-transition: margin-left 1s ease-in-out;
    -moz-transition: margin-left 1s ease-in-out;
    -o-transition: margin-left 1s ease-in-out;
    transition: margin-left 1s ease-in-out;
  }

  .tychy__player {
    width: 500px;
    height: 500px;
  }

  .poll {
    width: 110px;
    font-size: 30px;
    font-weight: bold;
  }
}


