body {
  font-family: Arial;
}

.button {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial;
}

.button--vote {
  background-color: #CC2F2F;
  color: #fff;
  border: 1px #fff solid;
  font-size: 20px;
  padding: 1rem;
  border-radius: 10px;
  top: 50%;
  cursor: pointer;
}

.button--vote-left {
  left: 15%;
}

.button--vote-right {
  right: 15%;
}

body {
  overflow: hidden;
}

.poll-image {
  width: 500px;
  height: 300px;
}

@first_tychy: #00923F;
@second_tychy: #080606;
@second_tychy_web: #282828;
@third_tychy: #DA251C;

.backgrouny--tychy__first {
  background-color: @first_tychy;
}

.backgrouny--tychy__second {
  background-color: @second_tychy;
}

.backgrouny--tychy__third {
  background-color: @third_tychy;
}

.tychy__logo__first {
  color: @first_tychy
}

.tychy__logo__second {
  color: @second_tychy;
}

.tychy__logo__second--web {
  color: @second_tychy_web;
}

.tychy__logo__third {
  color: @third_tychy;
}

.fadeable {
  transition: opacity 1s;

  &.opacity--off {
    opacity: 0;
  }
}

.poll__option {
  width:35px;
  box-shadow: inset 2px 2px 5px #000;
}
.poll__option--first {
  background-color: rgba(0,146,63, 0.8);

}

.poll__option--second {
  background-color: rgba(218,37,28, 0.8);
}
