<md-content flex layout-padding>
    <div ng-repeat="poll in Admin.polls">
        <md-subheader class="md-primary">{{poll.name}}</md-subheader>
        <p>ustaw stronę</p>
        <md-radio-group ng-model="Admin.currentScreen" ng-change="Admin.pollName = poll.name">
            <md-radio-button value="{{key}}" class="md-primary"
                             ng-repeat="(key,value) in poll.data.stepTemplates">{{value.name}}</md-radio-button>
        </md-radio-group>
    </div>
    <md-button class="md-raised md-primary" ng-disabled="Admin.saving" ng-click="Admin.changeScreen(Admin.currentScreen)">Send</md-button>
    <md-button class="md-raised md-primary" ng-disabled="Admin.saving" ng-click="Admin.changeScreen(Admin.currentScreen, true)">Send and stay</md-button>
    <p>losuj zwycięzcę</p>
    <md-button class="md-raised md-primary" ng-disabled="Admin.winnerLot" ng-click="Admin.lotWinner(Admin.currentScreen)">Losuj</md-button>
    <div ng-if="poll.winner">
        <img style="width:100px;height:100px" ng-src="{{'img/users/' + poll.winner._id + '/profile.png';}}">
        <div>{{poll.winner.firstName}} {{poll.winner.lastName}}</div>
    </div>
</md-content>