<div class="sluzewiec-question__container ui-relative" ng-controller="voteResultCtrl as Result">
    <div class="left_top ui-position--absolute"></div>
    <div class="right_bottom ui-position--absolute"></div>
    <div class="header ui-position--absolute">
        <div class="text font--primary ui-text--center ui-text--white ui-font--lato-black--italic">SKĄD POCHODZI NAZWA GONITWY DERBY?</div>
    </div>

    <div class="how-to-vote ui-font--lato-black font--primary">
        <span class="color--primary text-shadow">ODPOWIEDZ NA</span><br />
        <span class="color--secondary font--secondary text-shadow">{{step.poll.data.howToVote}}</span>
    </div>
    <div class="footer"></div>
</div>