<div class="demo demo-screen ui-height--max container container-column container--vertical-center container--space-around">
    <div class="demo demo--font" ng-controller="voteResultCtrl as Result">
        <div class="container container-column" ng-init="Result.initStats(step.poll)">
            <div class="ui-text--center font--huge margin-vertical--small">WHO IS A MORE NATURALLY GIFTED DRIVER?</div>
            <div class="ui-text--center">VOTE ON <a class="demo--font" target="_blank" href="https://screen4fans.com/demo-vote">screen4fans.com/demo-vote</a> </div>
            <simple-poll data-options="step.poll.data.options" data-stats="Result.stats"
                         class="poll_result container--vertical-center padding-horizontal--small"></simple-poll>
        </div>
    </div>
    <div class="container container-column container--center">
        <div class="padding-vertical--medium padding-horizontal--medium font--huge ui-text-highlight md-title ui-text-align--center margin--vertical--big ui-text-shadow">SCAN QR CODE TO VOTE</div>
        <div class="container container--center margin-vertical--small"><img src="/img/demo/local.png"></div>
    </div>
</div>