<div class="zgorzelec-player zgorzelec-player--question ui-relative" ng-controller="voteResultCtrl as Result">
    <div class="container--zgorzelec container--zgorzelec-question">
        <div class="header">
            WYBIERZ<br/>
            ZAWODNIKA<br />
            MECZU!<br />
            <div style="line-height: 1px;">
            <u>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;</u>
            </div>
        </div>
        <div class="header2">
            GŁOSUJ NA
        </div>
        <div class="header3">
            PGETUROW.MOBI
        </div>
    </div>
</div>