<div class="zuzel-torun__container ui-relative" ng-controller="voteResultCtrl as Result">
    <div class="header ui-text--center">
        <span class="info-text bold">GŁOSUJ NA ZAWODNIKA MECZU</span>
    </div>
    <div class="container container-column poll-container" ng-init="Result.initStats(step.poll)">
        <div ng-if="!Result.statsEmpty">
            <zuzel-poll data-options="step.poll.data.options" data-stats="Result.stats"
                         class="poll_result container--vertical-center padding-horizontal--small"></zuzel-poll>
        </div>
    </div>
    <div class="footer ui-text--center">
        <span class="info-text">GŁOSUJ NA</span> <span class="info-text bold">ZUZEL.GLOSUJ.MOBI</span>
    </div>
</div>