<div class="container container-column screen--tychy screen--tychy__background container--space-between ui-text--center">
    <div tychy-top-banner><span style="margin-left:40px;">KONKURS</span></div>
    <div class="container container-column">
        <div class="ui-text--white ui-text-shadow font--large container container--middle container container--vertical-center container container-column">
            <div>GŁOSUJ TERAZ</div>
            <div style="margin-bottom:5px;">na najlepszego</div>
            <div>ZAWODNIKA MECZU!</div>
        </div>
        <div style="height: 2px;" class="container container-row container--space-between">
            <div class="width-1-3 backgrouny--tychy__first">
            </div>
            <div class="width-1-3 backgrouny--tychy__second"></div>
            <div class="backgrouny--tychy__third width-1-3">
            </div>
        </div>
    </div>
</div>