<div class="container container-column screen--tychy screen--tychy__background container--space-between ui-text--center">
    <div tychy-top-banner><span style="margin-left:40px;"></span></div>
    <div class="ui-text--white ui-text-shadow font--large" style="margin-top: -10px;">
        <div class="font--big">Na którym meczu GKS Tychy w sezonie 2015/16 była najwyższa frekwencja?</div>
        <!--<div class="font&#45;&#45;big">GŁOSUJ TERAZ NA</div>-->
        <!--<div class="ui-text-space&#45;&#45;big ui-text-highlight"><div class="ui-text-shadow">tychy<span class="ui-poll-number-highlight">1</span><span class="ui-big-dot">.</span>glosuj<span class="ui-big-dot">.</span>mobi</div></div>-->
    </div>
    <div style="height: 2px;" class="container container-row container--space-between">
        <div class="width-1-3 backgrouny--tychy__first">
        </div>
        <div class="width-1-3 backgrouny--tychy__second"></div>
        <div class="backgrouny--tychy__third width-1-3">
        </div>
    </div>
</div>