<div class="container container-column screen--tychy screen--tychy__background container--space-between ui-text--center">
    <div style="height: 2px;" class="container container-row container--space-between">
        <div class="width-1-3 backgrouny--tychy__first">
        </div>
        <div class="width-1-3 backgrouny--tychy__second"></div>
        <div class="backgrouny--tychy__third width-1-3">
        </div>
    </div>
    <div class="ui-text--white ui-text-shadow font--large">
        Wejdź na
        <div class="ui-text--space">http://
            <span class="tychy__logo__third">tychy2</span>.
            <span class="tychy__logo__third">glosuj</span>.
            <span class="tychy__logo__third">mobi</span>
            <div>i wygraj atrakcyjną nagrodę.</div>
        </div>
    </div>
    <div style="height: 2px;" class="container container-row container--space-between">
        <div class="width-1-3 backgrouny--tychy__first">
        </div>
        <div class="width-1-3 backgrouny--tychy__second"></div>
        <div class="backgrouny--tychy__third width-1-3">
        </div>
    </div>
</div>